@model EvCreating.Models.Event

@{
    ViewData["Title"] = "Verwijderen";
}

<h1>Verwijderen</h1>

<h3>Weet je zeker dat je dit wilt verwijderen?</h3>
<div>
    <h4>Evenement</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Locatie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Locatie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beschrijving)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beschrijving)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Soort)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Soort)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Verwijderen" class="btn btn-danger" /> |
        <a asp-action="Index">Terug naar lijst</a>
    </form>
</div>
