@model EvCreating.Models.Event
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = @_localizer["Details"];
}

<h1>@_localizer["Details"]</h1>

<div>
    <h4>@_localizer["Evenement"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Locatie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Locatie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beschrijving)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beschrijving)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Soort)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Soort)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">@_localizer["Bewerken"]</a> |
    <a asp-action="Index">@_localizer["Terug naar lijst"]</a>
</div>

<h2>@_localizer["Event analystic"]</h2>

@if (ViewBag.EventVisits != null)
{
    <h3>@_localizer["Event visit:"]</h3>
    <ul>
        @foreach (var visit in ViewBag.EventVisits)
        {
            <li>@visit</li>
        }
    </ul>
}

<h3>@_localizer["Visiteer door:"]</h3>
<p>@ViewBag.VisitCount @_localizer["Keer bezocht"]</p>



