@model EvCreating.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Evenement</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Locatie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Locatie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beschrijving)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beschrijving)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Soort)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Soort)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Bewerken</a> |
    <a asp-action="Index">Terug naar lijst</a>
</div>

<h2>Event Analytics</h2>

@if (ViewBag.EventVisits != null)
{
    <h3>Event Visits:</h3>
    <ul>
        @foreach (var visit in ViewBag.EventVisits)
        {
            <li>@visit</li>
        }
    </ul>
}

<h3>Visit Count:</h3>
<p>@ViewBag.VisitCount keer bezocht</p>



