@model IEnumerable<EvCreating.Models.Event>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = @_localizer["Evenement"];
}

<h1>@_localizer["Evenement"]</h1>
@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <div class="alert alert-success">
        @ViewBag.SuccessMessage
    </div>
}

<form asp-action="Index" method="get">
    <label for="selectedMonth">@_localizer["Selecteer een maand"]</label>
    <select id="selectedMonth" name="selectedMonth">
        <option value="">@_localizer["Alle maanden"]</option>
        <option value="1">@_localizer["Januari"]</option>
        <option value="2">@_localizer["Februari"]</option>
        <option value="3">@_localizer["Maart"]</option>
        <option value="4">@_localizer["April"]</option>
        <option value="5">@_localizer["Mei"]</option>
        <option value="6">@_localizer["Juni"]</option>
        <option value="7">@_localizer["Juli"]</option>
        <option value="8">@_localizer["Augustus"]</option>
        <option value="9">@_localizer["September"]</option>
        <option value="10">@_localizer["Oktober"]</option>
        <option value="11">@_localizer["Novermber"]</option>
        <option value="12">@_localizer["December"]</option>
    </select>
    <button type="submit">@_localizer["Filter"]</button>
</form>

<p>
    <a asp-action="Create">@_localizer["Nieuwe maken"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locatie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beschrijving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soort)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Locatie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Beschrijving)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Soort)
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.ID, eventId = item.ID })">Details</a>
                    @if (User.IsInRole("SystemAdministrator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ID">@_localizer["Bewerken"]</a>
                        <a asp-action="Delete" asp-route-id="@item.ID">@_localizer["Verwijderen"]</a>
                    }
                </td>


            </tr>
        }
    </tbody>
</table>



