@model EvCreating.Models.EventEvaluation
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = @_localizer["Verwijderen"];
}

<h1>Verwijderen</h1>

<h3>@_localizer["Weet u zeker dat je dit wilt verwijderen?"]</h3>
<div>
    <h4>Event Evaluatie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReactieDatum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReactieDatum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Waardering)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Waardering)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inhoud)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inhoud)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventNaam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventNaam)
        </dd>
    </dl>

    <form asp-action="@_localizer["Verwijderen"]">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Verwijderen" class="btn btn-danger" /> |
        <a asp-action="Index">@_localizer["Terug naar lijst"]</a>
    </form>
</div>
