@model IEnumerable<EvCreating.Models.EventEvaluation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Nieuw maken</a>
</p>
<form asp-action="Index" method="get">
    <label for="selectedRating">Selecteer een waardering:</label>
    <select id="selectedRating" name="selectedRating">
        <option value="">Kies een waardering</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <input type="submit" value="Filteren" />
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReactieDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Waardering)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inhoud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventNaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EvCreatingUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReactieDatum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Waardering)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inhoud)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventNaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EvCreatingUser.UserName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Bewerken</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Verwijderen</a>
                </td>
            </tr>
        }
    </tbody>
</table>
